In [10]:
import pandas as pd
df = pd.read_csv("C:\\Users\\Phani\\Desktop\\Phani - New\\Kaggle Data Sets\\weather_data.csv")
df

          EST  Temperature  WindSpeedMPH    Events
0    1/1/2016           38           8.0       NaN
1    1/2/2016           36           7.0       NaN
2    1/3/2016           40           8.0       NaN
3    1/4/2016           25           9.0       NaN
4    1/5/2016           20           5.0       NaN
5    1/6/2016           33           4.0       NaN
6    1/7/2016           39           2.0       NaN
7    1/8/2016           39           4.0       NaN
8    1/9/2016           44           8.0      Rain
9   1/10/2016           50           NaN      Rain
10  1/11/2016           33           NaN       NaN
11  1/12/2016           35           6.0       NaN
12  1/13/2016           26          10.0       NaN
13  1/14/2016           30           5.0       NaN
14  1/15/2016           43           5.0       NaN
15  1/16/2016           47           7.0      Rain
16  1/17/2016           36           6.0  Fog-Snow
17  1/18/2016           25          12.0      Snow
18  1/19/2016           22          11.0       NaN
19  1/20/2016           32           6.0       NaN
20  1/21/2016           31           6.0       NaN
21  1/22/2016           26           NaN      Snow
22  1/23/2016           26          16.0  Fog-Snow
23  1/24/2016           28           6.0      Snow
24  1/25/2016           34           3.0       NaN
25  1/26/2016           43           7.0       NaN
26  1/27/2016           41           7.0      Rain
27  1/28/2016           37           5.0       NaN
28  1/29/2016           36           8.0       NaN
29  1/30/2016           34           7.0       NaN
30  1/31/2016           46           5.0       NaN

In [12]:
type(df.EST[0])

str

In [13]:
import pandas as pd
df = pd.read_csv("C:\\Users\\Phani\\Desktop\\Phani - New\\Kaggle Data Sets\\weather_data.csv", parse_dates = ["EST"])
type(df.EST[0])

pandas._libs.tslibs.timestamps.Timestamp

In [14]:
df.set_index('EST', inplace = True)
df

            Temperature  WindSpeedMPH    Events
EST
2016-01-01           38           8.0       NaN
2016-01-02           36           7.0       NaN
2016-01-03           40           8.0       NaN
2016-01-04           25           9.0       NaN
2016-01-05           20           5.0       NaN
2016-01-06           33           4.0       NaN
2016-01-07           39           2.0       NaN
2016-01-08           39           4.0       NaN
2016-01-09           44           8.0      Rain
2016-01-10           50           NaN      Rain
2016-01-11           33           NaN       NaN
2016-01-12           35           6.0       NaN
2016-01-13           26          10.0       NaN
2016-01-14           30           5.0       NaN
2016-01-15           43           5.0       NaN
2016-01-16           47           7.0      Rain
2016-01-17           36           6.0  Fog-Snow
2016-01-18           25          12.0      Snow
2016-01-19           22          11.0       NaN
2016-01-20           32           6.0       NaN
2016-01-21           31           6.0       NaN
2016-01-22           26           NaN      Snow
2016-01-23           26          16.0  Fog-Snow
2016-01-24           28           6.0      Snow
2016-01-25           34           3.0       NaN
2016-01-26           43           7.0       NaN
2016-01-27           41           7.0      Rain
2016-01-28           37           5.0       NaN
2016-01-29           36           8.0       NaN
2016-01-30           34           7.0       NaN
2016-01-31           46           5.0       NaN

In [16]:
new_df = df.fillna(0)
new_df

            Temperature  WindSpeedMPH    Events
EST
2016-01-01           38           8.0         0
2016-01-02           36           7.0         0
2016-01-03           40           8.0         0
2016-01-04           25           9.0         0
2016-01-05           20           5.0         0
2016-01-06           33           4.0         0
2016-01-07           39           2.0         0
2016-01-08           39           4.0         0
2016-01-09           44           8.0      Rain
2016-01-10           50           0.0      Rain
2016-01-11           33           0.0         0
2016-01-12           35           6.0         0
2016-01-13           26          10.0         0
2016-01-14           30           5.0         0
2016-01-15           43           5.0         0
2016-01-16           47           7.0      Rain
2016-01-17           36           6.0  Fog-Snow
2016-01-18           25          12.0      Snow
2016-01-19           22          11.0         0
2016-01-20           32           6.0         0
2016-01-21           31           6.0         0
2016-01-22           26           0.0      Snow
2016-01-23           26          16.0  Fog-Snow
2016-01-24           28           6.0      Snow
2016-01-25           34           3.0         0
2016-01-26           43           7.0         0
2016-01-27           41           7.0      Rain
2016-01-28           37           5.0         0
2016-01-29           36           8.0         0
2016-01-30           34           7.0         0
2016-01-31           46           5.0         0

In [18]:
new_df = df.fillna({
    'Temperature' : 0,
    'WindSpeedMPH': 0,
    'Events': 'no event'
})
new_df

            Temperature  WindSpeedMPH    Events
EST
2016-01-01           38           8.0  no event
2016-01-02           36           7.0  no event
2016-01-03           40           8.0  no event
2016-01-04           25           9.0  no event
2016-01-05           20           5.0  no event
2016-01-06           33           4.0  no event
2016-01-07           39           2.0  no event
2016-01-08           39           4.0  no event
2016-01-09           44           8.0      Rain
2016-01-10           50           0.0      Rain
2016-01-11           33           0.0  no event
2016-01-12           35           6.0  no event
2016-01-13           26          10.0  no event
2016-01-14           30           5.0  no event
2016-01-15           43           5.0  no event
2016-01-16           47           7.0      Rain
2016-01-17           36           6.0  Fog-Snow
2016-01-18           25          12.0      Snow
2016-01-19           22          11.0  no event
2016-01-20           32           6.0  no event
2016-01-21           31           6.0  no event
2016-01-22           26           0.0      Snow
2016-01-23           26          16.0  Fog-Snow
2016-01-24           28           6.0      Snow
2016-01-25           34           3.0  no event
2016-01-26           43           7.0  no event
2016-01-27           41           7.0      Rain
2016-01-28           37           5.0  no event
2016-01-29           36           8.0  no event
2016-01-30           34           7.0  no event
2016-01-31           46           5.0  no event

In [19]:
new_df = df.fillna(method = "ffill")
new_df

            Temperature  WindSpeedMPH    Events
EST
2016-01-01           38           8.0       NaN
2016-01-02           36           7.0       NaN
2016-01-03           40           8.0       NaN
2016-01-04           25           9.0       NaN
2016-01-05           20           5.0       NaN
2016-01-06           33           4.0       NaN
2016-01-07           39           2.0       NaN
2016-01-08           39           4.0       NaN
2016-01-09           44           8.0      Rain
2016-01-10           50           8.0      Rain
2016-01-11           33           8.0      Rain
2016-01-12           35           6.0      Rain
2016-01-13           26          10.0      Rain
2016-01-14           30           5.0      Rain
2016-01-15           43           5.0      Rain
2016-01-16           47           7.0      Rain
2016-01-17           36           6.0  Fog-Snow
2016-01-18           25          12.0      Snow
2016-01-19           22          11.0      Snow
2016-01-20           32           6.0      Snow
2016-01-21           31           6.0      Snow
2016-01-22           26           6.0      Snow
2016-01-23           26          16.0  Fog-Snow
2016-01-24           28           6.0      Snow
2016-01-25           34           3.0      Snow
2016-01-26           43           7.0      Snow
2016-01-27           41           7.0      Rain
2016-01-28           37           5.0      Rain
2016-01-29           36           8.0      Rain
2016-01-30           34           7.0      Rain
2016-01-31           46           5.0      Rain